/* Reset default table styles */
:root {
  --background: #f9f6f1;
  --blue: #8eb4ee;
  --purple: #c8bef7;
  --orange: #f37456;
  --yellow: #f3d656;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
h1 {
  font-size: 50px;
}

.links {
  margin-top: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}
a {
  color: #222;
}

/* Style for table header */
th {
  background-color: var(--orange);
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #c6ddff;
}

/* Normal row styles */
/* tr {
  border-bottom: 1px solid #ddd;
} */

/* Style for table data cells */
td {
  padding: 10px;
}

/* Style for form container */
form {
  max-width: 400px;
  padding: 0;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* Style for form inputs */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Style for form labels */
label {
  font-weight: bold;
}

/* Style for form submit button */
input[type="submit"],
button {
  background-color: var(--purple);
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Hover effect for form submit button */
input[type="submit"]:hover,
button:hover {
  background-color: #c6ddff;
}
